.container {
    margin: 0 auto;
    max-width: 845px;
    font-family: Arial, Helvetica, sans-serif;
    color: #676567;
}

    .container h1 {
        font-size: 33px;
        font-weight: 500;
        margin: 5px 19px;
    }

    .container form {
        background-color: #feeed6;
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
    }

    .container .input {
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: bold;
    }

    .container input,
    .container .comment textarea {
        width: 100%;
        padding: 9px 15px;
        margin-top: 9px;
        font-size: 17px;
        border: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    .container .comment textarea {
        height: 130px;
        resize: vertical;
    }

    .container .text {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 0;
    }

    .container input[type="submit"] {
        display: inline-block;
        width: auto;
        background-color: #378db2;
        color: #fff;
        float: right;
        font-weight: bold;
    }

        .container input[type="submit"]:hover {
            cursor: pointer;
            background-color: #20769b;
        }

    .container .clearfix:after {
        display: block;
        content: "";
        clear: both;
    }
